<div class="section">
  <div class="title">Statistics</div>
  <div class="sub-section">
    <div class="title">Primary Statistics</div>
    {% macro primaryStatLine(name, stat) %}
    <div class="stat-line">
      <div class="stat-name">{{ name }}</div>
      <div class="stat {{ stat.status }}">{{ stat.sum() }}</div>
      <div class="stat-modifier">{{ character.mods(stat.sum()) }}</div>
    </div>
    {% endmacro %}
    {{ primaryStatLine('Strength', character.stats.str) }}
    {{ primaryStatLine('Dexterity', character.stats.dex) }}
    {{ primaryStatLine('Constitution', character.stats.con) }}
    {{ primaryStatLine('Intelligence', character.stats.int) }}
    {{ primaryStatLine('Wisdom', character.stats.wis) }}
    {{ primaryStatLine('Charisma', character.stats.cha) }}
  </div>
  <div class="sub-section">
    <div class="title">Carry Capacity</div>
    <div>
      <span>Light load</span>
      <span>{{ character.light_max }} lbs or less</span>
    </div>
    <div>
      <span>Medium load</span>
      <span>{{ character.light_max + 1 }}-{{ character.medium_max }} lbs</span>
    </div>
    <div>
      <span>Heavy load</span>
      <span>{{ character.medium_max + 1 }}-{{ character.heavy_max }} lbs</span>
    </div>
  </div>
</div>
