{
    "presets": [
        ["env", {
            "modules": false
        }],
        "stage-1",
        "react"
    ],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ],
            "presets": [
                [
                    "env",
                    {
                        "modules": "commonjs",
                        "useBuiltIns": "usage"
                    }
                ]
            ]
        }
    },
    "plugins": [
        "transform-runtime"
    ]
}
