<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Visual Character</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <div id="page">
    {% block content %}{% endblock %}
    </div>
    <div id="overlay">
      <div id="window">This is window content</div>
      <div id="close" class="button">close</div>
    </div>
    <div id="scripts">
      {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="/visual.min.js"></script>
      {% endblock %}
    </div>
  </body>
</html>
