{% extends '../overlay.html' %}

{% block title %}{{ item.heading }}{% endblock%}

{% block content %}
  <div class="attacks"></div>
  <div class="description">
    {% if item.description %}
      {{ item.description }}
    {% else %}
      <span class="error">No description</span>
    {% endif %}
  </div>
  <div class="cost">{{ item.converted_cost }}</div>
  <div class="actions"
    data-id="{{ item.id }}"
    data-name="{{ item.name }}">
    {% if owned %}
      <div class="button drop-item">Drop</div>
      <!-- <div class="button">Give</div> -->
    {% else %}
      <div class="button add-equipment">Add</div>
      <!-- <div class="button">Buy</div> -->
      <!-- <div class="button">Customize</div> -->
    {% endif %}
  </div>
{% endblock %}
