<html>
  <head>
    <title>Visual Character</title>
    <style>
    BODY {
      color:#DDD;
      text-shadow:#000 0px 0px 3px;
      background-color: #333;
      font-family: sans-serif;
    }
    </style>
  </head>
  <body>
    <div class="character">
      <div class="name">{{ character.name }}</div>
      <div class="section">
        <div class="title">Equipment</div>
        <div class="sub-section">
          <div class="title">Owned Items</div>
          {% for item in character.equipment %}
            <div class="item">
              <span>{{ item.name }}</span>
              <span>{{ item.weight }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="section">
        <div class="title">Stats</div>
        <div class="sub-section">
          <div class="title">Other</div>
          <div class="graph">
            <span>Carry weight</span>
            <span>{{ character.carryWeight }}</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
