{% extends 'default.html' %}

{% block content %}
    <div class="character">
      <div class="name">{{ character.name }}</div>

      <div class="section">
        <div class="title">Main</div>
        {% if character.status_effects.length > 0 %}
        <div class="sub-section">
          <div class="title">Status Effects</div>
          {% for effect in character.status_effects %}
          <div class="status-effect">
            <div class="name">{{ effect.name }}</div>
            <div class="type">{{ effect.type }}</div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>


      <div class="section">

        <div class="title">Equipment</div>

        <div class="sub-section">
          <div class="title">Carry Capacity</div>
          <div class="graph">
            <span>Carry weight: </span>
            <span>{{ character.carry_weight }} lbs </span>
            <span>({{ character.current_load }} load)</span>
          </div>
          <div class="graph" id="load-bar">
            <div class="graph-section" id="light-load">
            </div>|<div class="graph-section" id="medium-load">
            </div>|<div class="graph-section" id="heavy-load"></div>
            <div class="graph-indicator glyphicon glyphicon-triangle-top" id="indicator" style="left:{{ character.current_load_percentage }}%"></div>
          </div>
        </div>

        <div class="sub-section">
          <div class="title">Owned Items</div>
          {% for item in character.equipment %}
            <div class="owned-item">
              <div class="count">{{ item.count }}</div>
              <div class="name">{{ item.name }}</div>
              <div class="weight">{{ item.weight }} lbs</div>
              <div class="button">Drop</div>
              <div class="button">Give</div>
            </div>
          {% endfor %}
        </div>
      </div>


      <div class="section">
        <div class="title">Stats</div>
        <div class="sub-section">
          <div class="title">Primary Statistics</div>
          {% macro primaryStatLine(name, stat) %}
          <div class="stat-line">
            <div class="stat-name">{{ name }}</div>
            <div class="stat {{ stat.status }}">{{ stat.sum() }}</div>
            <div class="stat-modifier">{{ character.mods(stat.sum()) }}</div>
          </div>
          {% endmacro %}
          {{ primaryStatLine('Strength', character.stats.str) }}
          {{ primaryStatLine('Dexterity', character.stats.dex) }}
          {{ primaryStatLine('Constitution', character.stats.con) }}
          {{ primaryStatLine('Intelligence', character.stats.int) }}
          {{ primaryStatLine('Wisdom', character.stats.wis) }}
          {{ primaryStatLine('Charisma', character.stats.cha) }}
        </div>
        <div class="sub-section">
          <div class="title">Carry Capacity</div>
          <div>
            <span>Light load</span>
            <span>{{ character.light_max }} lbs or less</span>
          </div>
          <div>
            <span>Medium load</span>
            <span>{{ character.light_max + 1 }}-{{ character.medium_max }} lbs</span>
          </div>
          <div>
            <span>Heavy load</span>
            <span>{{ character.medium_max + 1 }}-{{ character.heavy_max }} lbs</span>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="title">Debug</div>
        <div class="sub-section">
          <div class="title">All Stats</div>
          {% for name, stat in character.stats %}
          <div class="stat-line">
            <div class="stat-name">{{ name }}</div>
            <div class="stat {{ stat.status }}">{{ stat.sum() }}</div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div> <!-- end Character -->
{% endblock %}
